# Virtual environment
env/
*.env

# Python cache files
__pycache__/

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Data folders
data/raw/
data/processed/

# Ignore model checkpoints
models/*.h5
models/*.pth

# VSCode settings folder
.vscode/
