# Virtual environment
env/
*.env

# Python cache files
__pycache__/

# Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Folders
data/
data_unique/
plots/
output_samples_pix2pix_1/

# Ignore model checkpoints
models/*.h5
models/*.pth

# VSCode settings folder
.vscode/
